
body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
.subtext {
position:relative;
margin-top:-7.5px;
top: -7.5px;
border-radius:20px;
border: 2cm ;
background: white;
color: #994643;
padding:15px;
line-height:1.5em;
/*box-shadow: inset 3px 3px 20px grey;*/
border-color: #994643;
}

h2 {
    cursor: pointer;
}
h2, h3, h4 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


table {
    width: 100%;    
}
#main {
    width: 80%;
    margin: auto;
    margin-top: -50px;
    opacity: 0;
}
.experiencia {
    padding-top: 15px;
}

.desplegable {
    display:none;


}
.tabla-principal {
    margin-bottom: 14px;
    padding: 0px 15px 0px 15px;
}
.seccion {
    background-color: palevioletred;
    color: white;
    border-radius: 15px;
    box-shadow: 7px 7px 8px #994643;
}
td {
    color:white;
}
.seccion h2 {
    padding: 7px 22px 7px 22px;
    }

.celda-derecha{
    text-align: right;
    font-style: italic;;
}

.descripcion {
    position: relative;
    padding: 15px;
    border-radius: 15px;
    top: -7px;
    margin: 0px 22px 0px 22px;
    background-color: white;
    color: palevioletred;
}
